/* =======
FOOTER
======= */

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0rem;
    background-color: black;
    color:white;
}

    /* ===================
    Versión tablet: hasta 1024x de ancho
    =================== */  
    @media (max-width: 1024px) {

        .footer {
            display: block;
            padding: 3rem 1rem;
        }
    } 

        
    /* ===================
    Versión móvil pequeño: hasta 380 de ancho
    =================== */  
    @media (max-width: 320px) {

        .footer {
            box-sizing: border-box;
        }

    }