@use "../functions" as *;

/* =======
SECTIONS
======= */

.section {
    padding: 3rem 1rem;
    max-width: 1240px;
    margin: auto;

    /* === Elementos comunes === */

    &__header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__item {
        display: flex;
        gap: 1rem;
        align-items: center;
        background-color: get-color("section-bg");
        border-radius: 5px;
        box-shadow: get-color("section-shadow") 0px 1px 3px, get-color("section-shadow") 0px 1px 2px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: get-color("section-shadow-hover") 0px 4px 10px;
        }

        @media (max-width: 360px) {
        flex-direction: column;
        padding: 1rem 1rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-right: 0.5rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 1rem;
        column-gap: 2rem;
        row-gap: 2rem;
        margin-top: 2rem;

        @media (max-width: 360px) {
        /* Adaptación a 360px */
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    }

    &__link {
        color: get-color("footer-text");
        font-size: 1rem;
        padding: 0.4rem 1rem;
        border-radius: 7px;
        background-color: get-color("primary");
        text-decoration: none;
        width: max-content;
        &:hover {
            background-color: lighten(get-color("primary"), 10%);
        }
    }

    &__img {
        border-radius: 5px;
        width: 150px;
        height: 150px;

        /* Adaptación a 360px */
        @media (max-width: 360px) {
        width: 100%;
        height: auto;
        }
    }

    /* Hoteles */

    &__item-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: get-color("text");
    }

    &__item-subtitle {
        font-size: 1rem;
        color: get-color("text");
        opacity: 0.9;
    }

    &--dormir {
        .section__list {
        /* === Media query === */
        @media (max-width: 720px) {
        grid-template-columns: 1fr;
    }
    }
    }

    /* === Productos tradicionales === */

    &--productos {
        .section__item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: get-color("section-bg");
            padding: 1.2rem;
            border-radius: 5px;
            align-items: flex-start;
        }

        .section__img {
            width: 100%;
            height: auto;
        }
    }

    /* === Media query === */
    @media (max-width: 1024px) {
        padding: 3rem 1rem;
    }

}