@use "sass:color";

// Paleta global de colores
$colors: (
  // Base
  "primary": #000078,
  "secondary": #752641,
  "background": #f9f9f9,
  "text": #222,
  "overlay-dark": rgba(0, 0, 0, 0.55),
  "overlay-light": rgba(255, 255, 255, 0.35),

  // Header & Footer
  "header-bg": #752641,
  "footer-bg": #000,
  "footer-text": #fff,

  // Secciones
  "section-bg": #f0b2702f,

  // Acciones y estados
  "hover-shadow": unquote("rgba(0, 0, 0, 0.15)"),
  "link": #fff,
  "link-hover": #dcdcdc,

  // Sombras
  "section-shadow": unquote("rgba(0, 0, 0, 0.1)"),
  "section-shadow-hover": unquote("rgba(0, 0, 0, 0.15)"),
  "text-shadow": unquote("2px 2px 4px rgba(0, 0, 0, 0.8)")
);
