/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import dependencies
 */
@use "dependencies";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@use "../styles/layouts/header";
@use "../styles/layouts/hero";
@use "../styles/layouts/footer";
@use "layouts/sections";

/**
 * Do NOT include anything else in this file!
 */

/* =======
Ajustes generales
======= */

* {
    margin: 0px;
    padding: 0px;
}

.limitar-ancho {
    max-width: 1240px;
    margin: auto;
}

* {
    font-family: "Inter";
}

.ajustar-ancho {
    max-width: 1240px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

    /* ===================
    Versión tablet: hasta 1024x de ancho
    =================== */  
    @media (max-width: 1024px) {

        .limitar-ancho {
            padding: 2rem 2rem;
        }

        .ajustar-ancho {
            justify-content: space-between;
            padding: 0rem 2rem;
            width: auto;
        }


    }

    /* ===================
    Versión tablet: hasta 480x de ancho
    =================== */  
    @media (max-width: 480px) {

        .ajustar-ancho {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }